.breadCrumbsContainer {
  background-color: #151414;
  color: white;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 20px auto;

  p {
    margin: 0 0 0 10px;
    font-weight: 600;
  }
}
